data/multiwoz/annotation/annotated_user_da_with_span_full.json
data/multiwoz/annotation/MULTIWOZ2 2
tasktk/modules/nlu/SVM/output_multiwoz/
tasktk/modules/nlu/SVM/output_multiwoz_sys/

test_result/
*.pyc
.DS_Store

#Eclipse
*.project

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

.settings/

# pycharm specific
.idea

# vscode
.vscode

# mdbt data
data/mdbt/
data/mdbt.tar.gz
#data/multiwoz/annotated_user_utts_18k.txt
#data/multiwoz/annoted_bio.txt
data/multiwoz/annotated_user_da_with_span_full.json
data/multiwoz/annotated_user_utts_all.txt
data/multiwoz/annotated_qr_pairs.txt
data/multiwoz/annotated_qr_pairs_30k.txt
data/multiwoz/annoted_bio_all_20k.txt
data/multiwoz/annotated_user_utts_v2.txt
data/multiwoz/annotated_user_utts_v2_20k.txt

# private test script
private_test.py

# output of run.py
session.txt

# archives
*.rar

# models
data/models/

ckpts/

# nlu and nlg data
data/nlu
data/nlg
data/nrg

# nrg data
tasktk/modules/nrg/mdrg/data
tasktk/modules/nrg/mdrg/model/model

# sequicity
tasktk/modules/e2e/Sequicity/data
tasktk/modules/e2e/Sequicity/log
tasktk/modules/e2e/Sequicity/models
tasktk/modules/e2e/Sequicity/results
tasktk/modules/e2e/Sequicity/sheets
tasktk/modules/e2e/Sequicity/vocab

# mem2seq
tasktk/modules/e2e/Mem2Seq/data
tasktk/modules/e2e/Mem2Seq/save

# test scripts
interact.py
test_run.py

# mlst
data/multiwoz/mlst.txt
data/multiwoz/sample.json

tasktk/modules/nlu/mlst/models

# joint_nlu
tasktk/modules/nlu/joint_nlu/models
# mle
tasktk/modules/policy/system/vanilla_mle/models

# dst
tasktk/modules/dst/*.log

# rl
temp-plot.html
output

# log
*.log

